<ul>
  <li><a class="active" href="#">User Management Database Interface</a></li>
  <li><a href="/homepage">Homepage</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li style="float:right;"><a routerLink="">Log Out</a></li>
</ul>

<br>

  <table>
        <tr>     
            <th>Employee_ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email_ID</th>
            <th>Contact No.</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let user of users">
            <td><a [routerLink]="['/user',user.id]">{{user.id}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address.street}}, {{user.address.suite}},{{user.address.city}}, {{user.address.zipcode}}</td>
        </tr>

</table>



  <router-outlet></router-outlet>


